{% extends "base.html" %}
{% set active_page = "home" %}

{% block content %}

  <div class="jumbotron jumbotron-bg text-center">
    <div class="container">
      <h1 class="display-4 margin-top">Robert Michaud</h1>
      <h3>Computer Science Student</h3>
    </div>
    <div class="container-fluid margin-top">
      <div class="row text-center">
        <div class="col-md-4"><a class="display-5 light" href="{{ url_for('projects') }}">Projects</a></div>
        <div class="col-md-4"><a class="display-5 light" href="{{ url_for('art') }}">Art</a></div>
        <div class="col-md-4 icon">
          <a href="https://github.com/MicrowaveChan"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/robert-michaud-362573100/"><i class="fab fa-linkedin-in"></i></a>
          <a href="/contact"><i class="fas fa-envelope"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid margin-top">
    <div class="row">
      <div class="col-md-12">
        <h3>What I do</h3>
      </div>
      <div class="col-md-12">
        <p>
          Although I've always had an interest for programming and technology, I've only just recently
          started taking a deep dive into it all. Being torn between my need for creativity and technical
          problem solving, I'd say I have found the best field to focus on. Being obsessed with learning
          about everything, my interests include game development and design,
          task automation and real world applications, full stack development and security.
        </p>
      </div>

    </div>
  </div>

  <div class="container-fluid">
    <div class="row margin-top">
      <div class="col-md-12">
        <h3>Skills</h3>
      </div>
      {% for skill in skill_list %}
        <div class="col-md-3">
          {% for col in skill[:1] %}
            <h5>{{ col }}</h5>
          {% endfor %}
          {% for col in skill[1:] %}
            {% if col %}
              <ul>
                <li>{{ col }}</li>
              </ul>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
