{% extends "base.html" %}


{% block title %} {{ super() }} - Projects{% endblock %}
{% block content %}
  <div class="container-fluid margin-top">
      <div class="col-md-12"><h1>Open Source Projects</h1></div>
      <div class="table-responsive mt-5">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Project</th>
                <th scope="col">Description</th>
                <th scope="col">Language</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              {% for project in project_list %}
                <tr>
                  {% for col in project[:1] %}
                    <td scope="row">{{ col }}</td>
                  {% endfor %}
                  {% for col in project[1:2] %}
                    {% for link in project[2:3] %}
                      <td scope="row">
                        <a href="{{ link }}">{{ col }}</a>
                      </td>
                    {% endfor %}
                  {% endfor %}
                  {% for col in project[3:] %}
                    <td scope="row">{{ col }}</td>
                  {% endfor %}
                </tr>
              {% endfor %}
            </tbody>
          </table>
      </div>
  </div>
{% endblock %}
