<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <title>{% block title %}Personal Website{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/style.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>
{% endblock %}
<body>
{% block navbar %}
<nav class="navbar navbar-expand-md bg-transparent navbar-dark fixed-top">
    <a class="navbar-brand" href="/">Robert Michaud</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/art">Art</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
<footer>
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12"><hr class="my-light"></div>
            <div class="col-md-6"><a class="lead light" href="/">Home</a> </div>
            <div class="col-md-6"><a class="lead light" href="/projects">Projects</a> </div>
            <div class="col-md-6"><a class="lead light" href="/art">Art</a> </div>
            <div class="col-md-6"><a class="lead light" href="/contact">Contact</a> </div>

        </div>
    </div>
</footer>
{% endblock %}


</body>
</html>


