
{% extends "base.html" %}

{% block title %} {{ super() }} - Contact{% endblock %}
{% block content %}
  <div class="container-fluid margin-top">
      <div class="col-md-12"><h1>Contact</h1></div>
      <div class="col-md-12">
        <form method="POST" action="/contact">
          <fieldset>
              <div class=form-group>
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
              </div>
              <div class=form-group>
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
              </div>
              <div class=form-group>
                {{ form.message.label(class="form-control-label") }}
                {{ form.message(rows="10", class="form-control") }}
              </div>
          </fieldset>
          <div class=form-group>
            {{ form.submit(class="btn btn-outline-light")}}
          </div>
        </form>
      </div>
  </div>
{% endblock %}
