{% extends "base.html" %}
{% block title %} {{ super() }} - Projects{% endblock %}
{% block content %}
<div class="container-fluid margin-top">
    <div class="col-md-12"><h1>Projects</h1></div>
    <div class="container">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Project</th>
              <th scope="col">Description</th>
              <th scope="col">Language</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Project1</td>
              <td>Description</td>
              <td>Java</td>
              <td>Done</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Project2</td>
              <td>Description</td>
              <td>html</td>
              <td>WIP</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Project3</td>
              <td>Description</td>
              <td>Python</td>
              <td>WIP</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endblock %}

